$ta-green: rgb(0, 156, 128);

.mock {
	position: relative;
}
.device {
	margin: auto;
}
.device .row {
	display: flex;
}
.device-content {
	overflow: hidden;
}
.slide .deviceIcon {
	display: none;
}
.thumb .horizontal {
	transform: rotate(90deg);
}
.legend {
	z-index: 3;
}
.pillWrap {
	-webkit-font-smoothing: antialiased;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	display: flex;
	font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	line-height: 28px;
	max-width: 300px;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 44px;
	padding-top: 0px;
	position: absolute;
	top: 100px;
	left: calc(50% - 100px);
}

.geoPill {
	-webkit-font-smoothing: antialiased;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	line-height: 28px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-width: 300px;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 44px;
	padding-top: 0px;
	position: relative;
	width: 117.328125px;
}
.profile {
	-webkit-font-smoothing: antialiased;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 0px;
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 8px;
	position: absolute;
	right: 10px;
	bottom: 5px;
	text-shadow: rgba(60, 60, 60, 0.8) 1px 1px 0px,
		rgba(60, 60, 60, 0.8) 0px 0px 1px, rgba(60, 60, 60, 0.8) 2px 2px 5px;
}
.hero {
	width: 100%;
	height: 250px;
}
.avatar {
	-webkit-font-smoothing: antialiased;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(255, 255, 255);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(255, 255, 255);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(255, 255, 255);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 42px;
	left: 0px;
	position: absolute;
	margin-top: 5px;
	text-shadow: rgba(60, 60, 60, 0.8) 1px 1px 0px,
		rgba(60, 60, 60, 0.8) 0px 0px 1px, rgba(60, 60, 60, 0.8) 2px 2px 5px;
	top: -2px;
	width: 42px;
}
.pillText {
	-webkit-font-smoothing: antialiased;
	color: rgb(0, 0, 0);
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}
.chevronMock {
	display: inline;
	margin-top: 10px;
}
.chevronMock::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: "";
	display: inline-block;
	height: 0.5em;
	left: 0.5em;
	position: relative;
	top: 0.25em;
	transform: rotate(-45deg);
	vertical-align: super;
	width: 0.5em;
	color: rgb(0, 166, 128);
}

.chevronMock.bottom:before {
	transform: rotate(135deg);
}
.extLinkIcon {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
}
.sponsoredBy {
	font-weight: normal;
	text-align: left;
}
.sprMore {
	margin-left: 0.25em;
	font-weight: normal;
	text-decoration: underline;
}
.heroSpr {
	float: left;
	display: flex;
}
.geoPin {
	position: absolute;
	left: 15px;
	bottom: 5px;

	-webkit-font-smoothing: antialiased;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline;
	font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	text-shadow: rgba(60, 60, 60, 0.8) 1px 1px 0px,
		rgba(60, 60, 60, 0.8) 0px 0px 1px, rgba(60, 60, 60, 0.8) 2px 2px 5px;
	width: auto;
}

.geoPin:hover {
	text-decoration: underline;
}
.geoPin svg {
	font-size: 1.2em;
	vertical-align: baseline;
}
.carousel.carousel-slider .slide {
	background: $ta-green;
}
.carousel .slide .profile img {
	width: auto;
}
.carousel.carousel-slider {
	height: 500px;
}
.carousel.carousel-slider button.control-arrow {
	padding: 55px;
}

.device-iphone-x.landscape {
	transform: rotate(90deg);
	bottom: 220px;
	.device-content {
		background-image: url("./horizontal.png");
	}
	.hero {
		height: 250px;
		width: 1462px;
		margin-top: -6px;
		margin-left: -840px;
	}
	.pillWrap {
		display: flex;
		left: -200px;
		top: 90px;
	}
	.geoPin {
		display: flex;
		left: -450px;
	}
	.profile {
		right: 100px;
		.sprMore {
			display: none;
		}
	}
}
/* device specific css for mock-ups */
.wireframe {
	&.desktop-wide {
		.geoPin,
		.profile,
		.pillWrap {
			transform: scale(0.4, 0.4);
		}

		.geoPin,
		.profile {
			bottom: -7px;
		}

		.geoPin {
			left: calc(50% - 220px);
		}
		.profile {
			right: calc(50% - 285px);
		}
		.pillWrap {
			top: calc(50% - 13px);
			display: flex;
		}
		.chevronMock {
			margin-top: 10px;
		}
	}

	&.desktop-narrow {
		.chevronMock {
			margin-top: 10px;
		}
	}

	&.mobile-wide-horizontal {
		transform: rotate(-90deg);
		.chevronMock {
			margin-top: 10px;
		}
		.heroSpr {
			display: flex;
		}
	}
	&.mobile-wide-vertical {
		.pillText {
			margin: 8px 8px 8px 10px;
		}
		.chevronMock {
			margin: 5px 0 0 -8px;
		}
		.heroSpr {
			display: flex;
		}
	}
	&.mobile-narrow-horizontal,
	&.mobile-narrow-vertical,
	&.mobile-wide-vertical {
		.hero {
			height: 140px;
			width: 768px;
			margin-left: -200px;
		}

		.pillWrap {
			display: flex;
			width: 88.45px;
			height: 28px;
			padding: 0;
			top: 43%;
			left: calc(50% - 45px);
			.pillText {
				font-size: 12px;
				height: 15px;
				line-height: 15px;
			}
		}

		.chevronMock::before {
			border-width: 0.1em 0.1em 0 0;
			height: 0.3em;
			left: 0.15em;
			top: 0.2em;
			width: 0.3em;
		}

		.geoPin,
		.profile {
			bottom: 5px;
			font-size: 11px;
		}

		.geoPin {
			display: flex;
			left: 7px;
		}
		.profile {
			right: 10px;
			.sprMore,
			.avatar {
				display: none;
			}
			.extLinkIcon {
				background: $ta-green;
			}
		}
		.pillWrap {
			display: flex;
			top: calc(50% - 13px);
			left: 145px;
		}
	}
	&.mobile-narrow-vertical {
		.pillWrap {
			display: flex;
			left: 115px;
			.pillText {
				margin: 7px 2px 0 9px;
			}
		}
		.chevronMock {
			margin: 0;
		}
	}
	&.mobile-narrow-horizontal .pillWrap {
		left: 195px;

		.pillText {
			margin: 8px 8px 3px 10px;
		}
		.chevronMock {
			margin: -1px 0 0 -5px;
		}
	}

	&.ipad-horizontal,
	&.ipad-vertical {
		left: -440px;
		&,
		.hero {
			height: 250px;
			width: 1462px;
		}
		.geoPin {
			font-size: 12px;
			left: 450px;
			bottom: 0.5em;
		}
		.profile {
			bottom: 0.5em;
			font-size: 12px;
			right: 450px;
			.avatar {
				height: 36px;
			}
			.sprMore {
				display: none;
			}
		}
		.pillWrap {
			left: 620px;
			top: 100px;
			display: flex;

			.chevronMock {
				margin-top: 0;
				&::before {
					vertical-align: baseline;
				}
			}
		}
	}
	&.ipad-horizontal {
		.pillWrap {
			left: 700px;
		}
		.geoPin {
			font-size: 14px;
			left: 450px;
		}
		.profile {
			font-size: 14px;
			right: 265px;
			.avatar {
				height: 42px;
			}
		}
	}
}

/* end of device specific css */

.browser_body {
	padding: 2em 3em;
	min-height: 20em;
	font-family: sans-serif;
}

.window_outline {
	border: 3px solid rgba(120, 120, 120, 1);
	border-radius: 5px;
	box-shadow: 20px 20px 3px rgba(40, 40, 40, 0.2);
	background-color: white;
	color: #303442;
}
.window_head {
	background: rgba(200, 200, 200, 1);
	width: 100%;
	height: 2.5em;
	border-bottom: 3px solid rgba(120, 120, 120, 1);
	display: flex;
}

.window_item {
	align-self: center;
	background: #fff;
	width: 1em;
	height: 1em;
	border: 1px solid rgba(180, 180, 180, 1);
}
.circle {
	border-radius: 50%;
	margin-right: 0.6em;
}
.circle:first-child {
	margin-left: 0.6em;
}

.address_bar {
	border-radius: 3px;
	flex: 1 1 10px;
	max-width: 50%;
	height: 1.3em;
}

.page_wrap {
	width: 90%;
	max-width: 70em;
	margin-left: auto;
	margin-right: auto;
}

.full_page_section {
	width: 100%;
	min-height: 100vh;
	padding: 5em 0;
	position: relative;
	background-color: $ta-green;
	color: #fff;
}
h2 {
	font-size: 3vmax;
}
.mock_text {
	border: 0;
	border-radius: 3px;
	width: 100%;
	height: 1em;
	background: rgb(230, 230, 230);
	margin-bottom: 1em;
	display: inline-block;
}
.mock_text:nth-child(odd) {
	width: 90%;
}
.mock_text:nth-child(even) {
	width: 70%;
}
.mock_text:last-child {
	width: 30%;
}

/* badge */
.badge {
	margin: 6em 0;
	padding: 1.2em 2em 2em 2em;
	background: rgb(41, 41, 41);
	display: inline-block;
	color: #fff;
	border: 3px solid rgb(80, 80, 80);
	border-radius: 5px;
}
.badge h3 {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
.heart {
	font-size: 2em;
	animation: beat 2s linear infinite;
}
.clock {
	font-size: 1.5em;
	padding: 0 0.2em;
}

@keyframes beat {
	0% {
		color: white;
		transform: scale(0.5);
	}
	50% {
		color: #eb592c;
		transform: scale(1);
	}
	100% {
		color: white;
		transform: scale(0.5);
	}
}

@media only screen and (max-width: 400px) {
	.browser_body {
		padding: 0 1em;
	}
}

/* upload modal */
.mb-3 {
	margin-top: 10px;
}
